.content-print .onlyPDF{
    display: block !important;
}

.content-print .noPrint{
    display: none !important;
}

.content-print .showPrint{
    display: block !important;
}

.content-print table{
    width: 100% !important;
}

.content-print input.form-control{
    border-style: none !important;
    padding: 0 !important;
}

.content-print .content{
    margin-left:0 !important;
}

.content-print .months li{
    display: none !important;
}

.content-print .nameOverview{
    display: block !important;
    color: #000 !important;
    font-size: 25px !important;
    margin-bottom: 30px !important;
    color: darkred !important;
}

.content-print .amounts{
    margin-bottom: 30px !important;
    box-shadow: none !important;
}

.content-print .amounts h3{
    color: darkred;
    padding: 0 !important;
    background: none !important;
}

.content-print .amounts span{
    float: none !important;
    text-transform: lowercase;
}

.content-print .saldo{
    text-align: left !important;
    font-size: 15px !important;
}

.content-print .saldo span{
    display: block;
    font-weight: 400;
}

.content-print .totalNegative{
    display: none !important;
}

.content-print .currentsaldo{
    box-shadow: none !important;
}

.content-print .col-md-6{
    width: 100%;
}

.content-print .beginSaldo, .content-print .bookYear{
    display: block !important;
}

.content-print .amounts form{
    padding: 0 !important;
}

.content-print .currentsaldo{
    padding: 0 !important;
}

.content-print{
    background: #ffffff !important;
}